.profile-form-container {
  box-sizing: border-box;
  padding: 24px;
  max-height: 90vh;
  width: min(700px, 100%);
}

.profile-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button-row {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  margin-top: 12px;
}

.author-links {
  padding-left: 8px;
}

.author-link {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-start;
}
