<form [formGroup]="form">
  <mat-dialog-content class="mat-typography profile-form-container">
    <p *ngIf="mode === 0">First, fill in some information about yourself:</p>
    <p *ngIf="mode === 1">Author information:</p>

    <mat-form-field>
      <mat-label>Name (or pen name, if applicable)</mat-label>
      <input matInput formControlName="name" cdkFocusInitial />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Pronouns (e.g. she/her, any)</mat-label>
      <input matInput formControlName="pronouns" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Short bio</mat-label>
      <textarea matInput formControlName="bio"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Representation (e.g. lit agent)</mat-label>
      <input matInput formControlName="rep" />
    </mat-form-field>

    <div class="author-links" formArrayName="links">
      <div
        *ngFor="let link of links().controls; let i = index"
        [formGroupName]="i"
        class="author-link"
      >
        <mat-form-field>
          <mat-label>Link name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Link URL</mat-label>
          <input matInput formControlName="url" />
        </mat-form-field>
        <button mat-icon-button color="accent" (click)="deleteAuthorLink(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <button mat-flat-button color="accent" (click)="addAuthorLink()">
        <mat-icon>add_link</mat-icon>ADD LINK
      </button>
    </div>

    <p *ngIf="mode === 0">Next, fill in information about your book:</p>
    <p *ngIf="mode === 1">Book information:</p>

    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Publisher</mat-label>
      <input matInput formControlName="publisher" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Age Category</mat-label>
      <mat-select formControlName="ageCategory" multiple>
        <mat-option
          *ngFor="let ageCategory of ageCategories"
          [value]="ageCategory"
        >
          {{ ageCategory }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Genre</mat-label>
      <mat-select formControlName="genre" multiple>
        <mat-option *ngFor="let genre of genres" [value]="genre">
          {{ genre }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Release Season</mat-label>
      <mat-select formControlName="season">
        <mat-option></mat-option>
        <mat-option *ngFor="let season of seasons" [value]="season">
          {{ season }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Release Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="releaseDate" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Link to add on Goodreads</mat-label>
      <input matInput formControlName="goodreadsUrl" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Link to preorder</mat-label>
      <input matInput formControlName="preorderUrl" />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions class="mat-typography button-row" align="end">
    <button mat-flat-button mat-dialog-close>CANCEL</button>
    <button
      mat-flat-button
      color="primary"
      [disabled]="form.invalid"
      (click)="submit()"
    >
      {{ mode === 0 ? "CREATE MY PROFILE" : "SAVE" }}
    </button>
  </mat-dialog-actions>
</form>
