.author-detail-card {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.author-photo {
  max-width: 100%;
}

.author-card {
  max-width: 500px;
  width: 100%;
}

.book-card {
  max-width: 500px;
  width: 100%;
}
