.author-detail-card {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  width: fit-content;
}

.card-image-wrapper {
  position: relative;
}

.alt-text-button {
  position: absolute;
  right: 4px;
  top: 4px;
}

.author-photo {
  max-width: 100%;
}

.author-card {
  max-width: 500px;
  width: 100%;
}

.book-card {
  max-width: 500px;
  width: 100%;
}

.button-row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
