<div class="author-detail-card" *ngIf="author">
  <img
    class="author-photo"
    [src]="author.authorPhotoUrl ?? placeholderAuthorImageUrl"
  />
  <div>
    <h1>{{ author.name }}</h1>
    <h2>{{ author.title | uppercase }}</h2>
    <h3>{{ author.publisher }}</h3>
    <p *ngIf="releaseDateAvailable()">
      Release Date: {{ formatReleaseDate() }}
    </p>
    <p *ngIf="author.ageCategory">Age Category: {{ getAgeCategories() }}</p>
    <p *ngIf="author.genre">Genre: {{ getGenres() }}</p>
  </div>
</div>
