<div class="author-detail-card" *ngIf="author">
  <mat-card class="author-card">
    <mat-card-header>
      <mat-card-subtitle>Author</mat-card-subtitle>
      <mat-card-title>{{ author.name }}</mat-card-title>
    </mat-card-header>
    <div class="card-image-wrapper">
      <img
        mat-card-image
        class="author-photo"
        [src]="author.authorPhotoUrl ?? placeholderAuthorPhotoUrl"
        [alt]="author.authorPhotoAltText"
      />
      <button
        mat-stroked-button
        class="alt-text-button"
        aria-label="Button to show image alt text"
        (click)="openAltTextDialog(author.authorPhotoAltText)"
      >
        ALT
      </button>
    </div>
    <mat-card-content>
      <p *ngIf="author.rep"><b>Representation</b>: {{ author.rep }}</p>
      <p>{{ author.bio }}</p>
    </mat-card-content>
    <mat-card-actions>
      <div class="button-row">
        <a
          *ngFor="let link of author.links"
          [href]="fixLink(link.url)"
          target="_blank"
          mat-flat-button
          color="primary"
          >{{ link.name | uppercase }}</a
        >
      </div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="book-card">
    <mat-card-header>
      <mat-card-subtitle>Book</mat-card-subtitle>
      <mat-card-title>{{ author.title | uppercase }}</mat-card-title>
    </mat-card-header>
    <div class="card-image-wrapper">
      <img
        mat-card-image
        class="author-photo"
        [src]="author.bookCoverUrl ?? placeholderBookCoverUrl"
        [alt]="author.bookCoverAltText"
      />
      <button
        mat-stroked-button
        class="alt-text-button"
        aria-label="Button to show image alt text"
        (click)="openAltTextDialog(author.bookCoverAltText)"
      >
        ALT
      </button>
    </div>
    <mat-card-content>
      <p><b>Publisher</b>: {{ author.publisher }}</p>
      <p *ngIf="releaseDateAvailable()">
        <b>Release Date</b>: {{ formatReleaseDate() }}
      </p>
      <p *ngIf="author.ageCategory">
        <b>Age Category</b>: {{ getAgeCategories() }}
      </p>
      <p *ngIf="author.genre"><b>Genre</b>: {{ getGenres() }}</p>
    </mat-card-content>
    <mat-card-actions>
      <div class="button-row">
        <a
          [href]="fixLink(author.goodreadsUrl)"
          target="_blank"
          mat-flat-button
          color="primary"
          *ngIf="author.goodreadsUrl"
          >ADD ON GOODREADS</a
        >
        <a
          [href]="fixLink(author.preorderUrl)"
          target="_blank"
          mat-flat-button
          color="accent"
          *ngIf="author.preorderUrl"
          >PREORDER</a
        >
      </div>
    </mat-card-actions>
  </mat-card>
</div>
