<div class="account-recovery-dialog">
  <mat-form-field>
    <mat-label>Email address</mat-label>
    <input matInput type="email" [formControl]="email" />
  </mat-form-field>

  <mat-error *ngIf="error">{{ error }}</mat-error>

  <div class="button-row">
    <button mat-flat-button (click)="cancel()">CANCEL</button>
    <button
      mat-flat-button
      [disabled]="email.invalid"
      (click)="submit()"
      color="primary"
    >
      SEND PASSWORD RESET EMAIL
    </button>
  </div>
</div>
