<div class="author-detail-container">
  <img class="author-photo" src="https://helios-i.mashable.com/imagery/articles/01Fzl1MROydyq66J8rXDNzr/hero-image.fill.size_1200x1200.v1614267976.png">
  <div>
    <h1>{{ author.name }}</h1>
    <h2>{{ author.title | uppercase }}</h2>
    <h3>{{ author.publisher }}</h3>
    <p *ngIf="author.releaseDate || author.season">
      Release Date: {{ author.releaseDate ?? author.season + ' 2024' }}
    </p>
    <p *ngIf="author.ageCategory">Age Category: {{ getAgeCategories() }}</p>
    <p *ngIf="author.genre">Genre: {{ getGenres() }}</p>
  </div>
</div>
