<mat-card class="author-card" (click)="openAuthorDetailDialog(author)">
  <mat-card-header>
    <mat-card-title>{{
      showCovers ? (author.title | uppercase) : author.name
    }}</mat-card-title>
    <mat-card-subtitle>{{
      showCovers ? author.name : (author.title | uppercase)
    }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    *ngIf="showCovers ? author.bookCoverUrl : author.authorPhotoUrl"
    [src]="showCovers ? author.bookCoverUrl : author.authorPhotoUrl"
    [alt]="showCovers ? author.bookCoverAltText : author.authorPhotoAltText"
    loading="lazy"
    height="200px"
    width="100%"
    class="author-card-image"
  />
</mat-card>
