<div class="profile-container">
  <h1>My Author Profile</h1>

  <p>You're logged in as {{ (user$ | async)?.email }}.</p>

  <div *ngIf="!authorLookupComplete">
    <mat-spinner color="accent"></mat-spinner>
  </div>

  <div *ngIf="authorLookupComplete">
    <ng-container *ngIf="!!author; else newProfile">
      <div class="button-row">
        <button
          mat-flat-button
          color="primary"
          (click)="openUpdateProfileDialog()"
        >
          <mat-icon class="material-symbols-outlined">edit</mat-icon>
          UPDATE PROFILE
        </button>
        <button
          mat-flat-button
          color="warn"
          (click)="openDeleteProfileDialog()"
        >
          <mat-icon class="material-symbols-outlined">delete</mat-icon>
          DELETE PROFILE
        </button>
      </div>
      <app-author-detail-card [author]="author"></app-author-detail-card>
    </ng-container>

    <ng-template #newProfile>
      <button mat-flat-button color="primary" (click)="openNewProfileDialog()">
        <mat-icon class="material-symbols-outlined"> add_box </mat-icon>
        CREATE YOUR PROFILE
      </button>
    </ng-template>
  </div>
</div>
