.authors-container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 100%;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.search-fields {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.show-cover-toggle {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.author-cards-container {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  margin-top: 16px;
}

.author-card-empty {
  flex-grow: 1;
  height: 0px;
  width: 200px;
}
