<div class="authors-container">
  <mat-accordion multi>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Search</mat-panel-title>
        <mat-panel-description>
          Author name, book title, etc.
          <mat-icon>search</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="search-fields">
        <mat-form-field>
          <input
            matInput
            placeholder="Search by author name"
            [(ngModel)]="searchConfig.authorName"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Search by book title"
            [(ngModel)]="searchConfig.bookTitle"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Search by publisher"
            [(ngModel)]="searchConfig.publisher"
          />
        </mat-form-field>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>Filter</mat-panel-title>
        <mat-panel-description
          >Age category, genre, etc.
          <mat-icon>filter_list</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="search-fields">
        <mat-form-field>
          <mat-label>Select Age Category</mat-label>
          <mat-select [(ngModel)]="searchConfig.ageCategory">
            <mat-option [value]=""></mat-option>
            <mat-option
              *ngFor="let ageCategory of ageCategories"
              [value]="ageCategory"
            >
              {{ ageCategory }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Select Genre</mat-label>
          <mat-select [(ngModel)]="searchConfig.genre">
            <mat-option [value]=""></mat-option>
            <mat-option *ngFor="let genre of genres" [value]="genre">
              {{ genre }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Select Season</mat-label>
          <mat-select [(ngModel)]="searchConfig.season">
            <mat-option [value]=""> </mat-option>
            <mat-option *ngFor="let season of seasons" [value]="season">
              {{ season }}
            </mat-option>
          </mat-select></mat-form-field
        >

        <mat-form-field appearance="fill">
          <mat-label>Releases between:</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input
              matStartDate
              [(ngModel)]="searchConfig.startDate"
              placeholder="Start date"
            />
            <input
              matEndDate
              [(ngModel)]="searchConfig.endDate"
              placeholder="End date"
            />
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <mat-checkbox [(ngModel)]="searchConfig.hasPreorderLink"
          >Preorder Available</mat-checkbox
        >
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="single-search-field">
    <button mat-flat-button color="primary" (click)="clearFilters()">
      CLEAR ALL FILTERS
    </button>
  </div>

  <div class="single-search-field">
    <mat-slide-toggle [(ngModel)]="showCovers">Show covers</mat-slide-toggle>
  </div>

  <div class="author-cards-container">
    <app-author-preview-card
      *ngFor="
        let author of authors$
          | async
          | filter : searchConfig
          | sortAuthors : showCovers
      "
      [author]="author"
      [showCovers]="showCovers"
      [style.flex-grow]="1"
    ></app-author-preview-card>

    <div class="author-card-empty"></div>
    <div class="author-card-empty"></div>
    <div class="author-card-empty"></div>
  </div>
</div>
