<div class="home-container">
  <h1>Welcome!</h1>
  <p>
    We are traditionally published authors in every age category and genre,
    making our collective debut in 2024!
  </p>

  <h2>Are you a 2024 debut?</h2>
  <p>
    If you aren't part of our Slack group, join us! You can get an invitation by
    filling out
    <a href="https://forms.gle/mGU8gUMWdzg2EDWn7" target="_blank">this form</a>.
  </p>
  <p>
    Want your book featured on our site?
    <a href="/signup">Make an account</a> and fill in your debut author profile!
  </p>
  <p>
    (Please only do this if you're a traditionally published author debuting in
    2024. Your account will be removed otherwise.)
  </p>

  <h2>Just here to check out our books?</h2>
  <p>Head on over to the <a href="/authors">Authors</a> page!</p>

  <h2>Want to follow us on social media?</h2>
  <p>
    The 2024 Debuts are on
    <a href="https://twitter.com/2024Debuts" target="_blank">Twitter</a> and
    <a href="https://www.instagram.com/2024debuts/" target="_blank">Instagram</a
    >!
  </p>
  <p>
    We also have a
    <a
      href="https://www.goodreads.com/list/show/176397.2024_Debuts"
      target="_blank"
      >Goodreads list</a
    >
    full of our books.
  </p>

  <h2>Questions or concerns?</h2>
  <p>
    If you need help or have a problem using the website, email
    <a
      href="mailto:khleewrites@gmail.com?subject=Mail from 2024 Debuts Website"
      target="_blank"
      >khleewrites@gmail.com</a
    >.
  </p>
</div>
