.photo-upload-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
}

.preview-photo {
  height: min(100%, 700px);
  width: min(100%, 400px);
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
