<mat-dialog-content class="mat-typography photo-upload-container">
  <div>
    <input
      type="file"
      accept="image/*"
      (change)="selectFile($event)"
      cdkFocusInitial
    />
    <mat-error *ngIf="error">{{ error }}</mat-error>
  </div>

  <img *ngIf="preview" [src]="preview" class="preview-photo" />

  <mat-form-field>
    <textarea
      matInput
      [(ngModel)]="altText"
      placeholder="Alt text for image"
    ></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="button-row" align="end">
  <button mat-flat-button mat-dialog-close>CANCEL</button>
  <button
    mat-flat-button
    [disabled]="!success"
    color="primary"
    (click)="save()"
  >
    SAVE
  </button>
</mat-dialog-actions>
